/* Stylesheet created by Niklas Scherz */
/* Colors by coolors.co */

:root {
    /*background-image: url(images/Background.webp); */
    background-color: gray;
    background-size: cover;
    --rose: #f72585ff;
    --fandango: #b5179eff;
    --grape: #7209b7ff;
    --chrysler-blue: #560badff;
    --dark-blue: #480ca8ff;
    --zaffre: #3a0ca3ff;
    --palatinate-blue: #3f37c9ff;
    --neon-blue: #4361eeff;
    --chefchaouen-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
    --light:  #eee;
}

img {   
    max-width: 97%;
    height: auto;
    display: block;
    margin: auto;
}


*{
    font-family: 'Comic Sans MS', 'Trebutchet MS', monospace,;
    font-size: 2.3vh;
}

main { 
    display: flex;
    justify-content: center;
    height: 84vh;
    align-items: center;
}

.div-header{
    background: linear-gradient(to top, #cc33ff 0%, #6600ff 100%);
    width: 60vh;
    height: 10vh;
    margin: auto;
    border-style: groove;
    border-color: var(--grape);
    border-width: 2vh;
    text-align: center;
    font: 'Comic Sans MS';
}

.div-footer{
    background: linear-gradient(to bottom, #cc33ff 0%, #6600ff 100%);
    padding: 1vh;
    border: 0.2vh solid var(--grape);
    font-weight: bold;

    left: 0; 
    right: 0; 
    margin-inline: auto; 
    height: 2vh;
    width: fit-content;
    position: absolute;
    bottom: 0vh;
    
}

.custom-fieldset {
    width: 60vh;

}

.control-fieldset {
    width: 35vh;

}

.row {
    float: left;
    width: 100%;
}

.row div {
    width: calc(100% / 7);
    float: left;
}

.square-holder {
    position: relative;
}

.square-holder div{
    width: 100%;
}

.square-sizer {
    padding-top: 100%;
    width: 5%;
    height: 5%;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cell {
    background-color: var(--zaffre);
}

.path {
    background-color: var(--vivid-sky-blue);
}

.wall {
    background-color: var(--fandango);
}

.player {
    background-color: var(--vivid-sky-blue);
    background-image: url(images/css_sprites.svg);
    background-repeat: no-repeat;
    background-size: 300% 200%;
    background-position: 0% 0%;
    width: 100%;
    height: 100%;
}

.goal {

    background-color: var(--vivid-sky-blue);
    background-image: url(images/css_sprites.png);
    background-repeat: no-repeat;
    background-position: -169px -87px;
   
}

#mediumButton {
    width: 30%;
    padding: 1em;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.3em;
    border: 0.3vh solid var(--dark-blue);
    background: linear-gradient(to top, #cc33ff 0%, #6600ff 100%);
}

#smallButton {
    width: 30%;
    padding: 1em;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.3em;
    border: 0.3vh solid var(--dark-blue);
    background: linear-gradient(to top, #cc33ff 0%, #6600ff 100%);

}

#largeButton {
    width: 30%;
    padding: 1em;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.3em;
    border: 0.3vh solid var(--dark-blue);
    background: linear-gradient(to top, #cc33ff 0%, #6600ff 100%);
}

#largeButton:hover {
    background: linear-gradient(to top, #dd75ff 0%, #9955ff 100%);
    cursor: pointer;
}
#mediumButton:hover {
    background: linear-gradient(to top, #dd75ff 0%, #9955ff 100%);
    cursor: pointer;
}
#smallButton:hover {
    background: linear-gradient(to top, #dd75ff 0%, #9955ff 100%);
    cursor: pointer;
}

.sizebar {
    padding: 2%;
    text-align: center;
    clear: both;
}

.placeholder {
    width: 33%;
    height: 33%;
    float: left;
    background-color: var(--fandango);
}

.buttonup {
    width: 33%;
    height: 33%;
    background-image: url(images/css_sprites.svg);
    background-repeat: no-repeat;
    background-position: -182px -10px;
}













