/* Stylesheet created by Niklas Scherz */
/* Colors by coolors.co */

/*Farbedklaration und Hintergrundbild*/
:root {
    background-image: url(images/Background.webp);
    /* background-color: gray; */
    background-size: cover;
    --rose: #f72585ff;
    --fandango: #b5179eff;
    --grape: #7209b7ff;
    --chrysler-blue: #560badff;
    --dark-blue: #480ca8ff;
    --zaffre: #3a0ca3ff;
    --palatinate-blue: #3f37c9ff;
    --neon-blue: #4361eeff;
    --chefchaouen-blue: #4895efff;
    --vivid-sky-blue: #4cc9f0ff;
    --light:  #eee;
}
img {   
    max-width: 97%;
    height: auto;
    display: block;
    margin: auto;
}
*{
    font-family: 'Comic Sans MS', 'Trebutchet MS', monospace,;
    font-size: 1rem;
}
main { 
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 128, 128, 0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
    margin: 0;
    border: none;
    padding: 0;
}
.popup-content {
    background-color: var(--palatinate-blue);
    border: 0.5vh solid black;
    padding: 5%;
    font-size: xx-large;
}
.popup div div {
    font-size: larger;
    font: bold;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    
}
#replayButton {
background-color: var(--grape);
font-size: larger;
padding: 1vh;
border: 0.2vh solid black;
}
#replayButton:hover {
    background-color: var(--fandango);
    cursor: pointer;
}


/* Header und Fußzeile */
.div-header{
    background: linear-gradient(to top, #cc33ff 0%, #6600ff 100%);
    width: 60%;
    height: 10%;
    margin: auto;
    border-style: groove;
    border-color: var(--grape);
    border-width: 0.5rem;
    text-align: center;
}
.div-header div {
    font-size: 2rem;
    font: bold;
}
.div-footer{
    background: linear-gradient(to bottom, #cc33ff 0%, #6600ff 100%);
    padding: 1vh;
    border: 0.2vh solid var(--grape);
    font-weight: bold;

    left: 0; 
    right: 0; 
    margin-inline: auto; 
    height: 2vh;
    width: fit-content;
    position: absolute;
    bottom: 0vh;
    
}


/* Spielfeld und Controlfeld*/
.custom-fieldset {
    width: 60vh;

}
.control-fieldset {
    width: 35vh;
   

}



.row {
    float: left;
    width: 100%;
}
.row div {
    width: calc(100% / 7);
    float: left;
}

.square-holder {
    position: relative;
}
.square-holder div{
    width: 100%;
}

.square-sizer {
    padding-top: 100%;
    
}
.square-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.emptycell {

}
.cell {
    background-color: var(--zaffre);
}
.path {
    background-color: var(--vivid-sky-blue);
}
.wall {
    background-color: var(--fandango);
}
.player {
    
}
.goal {

    background-color: var(--vivid-sky-blue);
    background-image: url(images/sprite.png);
    background-position: 8px -64px;
  
}

#mediumButton {
    width: 30%;
    padding: 1em;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.3em;
    border: 0.3vh solid var(--dark-blue);
    background: linear-gradient(to top, #cc33ff 0%, #6600ff 100%);
}
#smallButton {
    width: 30%;
    padding: 1em;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.3em;
    border: 0.3vh solid var(--dark-blue);
    background: linear-gradient(to top, #cc33ff 0%, #6600ff 100%);

}
#largeButton {
    width: 30%;
    padding: 1em;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.3em;
    border: 0.3vh solid var(--dark-blue);
    background: linear-gradient(to top, #cc33ff 0%, #6600ff 100%);
}
#largeButton:hover {
    background: linear-gradient(to top, #dd75ff 0%, #9955ff 100%);
    cursor: pointer;
}
#mediumButton:hover {
    background: linear-gradient(to top, #dd75ff 0%, #9955ff 100%);
    cursor: pointer;
}
#smallButton:hover {
    background: linear-gradient(to top, #dd75ff 0%, #9955ff 100%);
    cursor: pointer;
}
.sizebar {
    padding: 2%;
    text-align: center;
    clear: both;
}

.placeholder {
    width: 33%;
    height: 33%;
    float: left;
    background-color: var(--fandango);
}

#Up {
    top:0;
    background-color: #9955ff;
    border: 1vh solid black;
}

#Down {
    bottom:0;
    background-color: #9955ff;
    border: 1vh solid black;
}

#Right {
    right:0;
    background-color: #9955ff;
    border: 1vh solid black;
}

#Left {
    left:0;
    background-color: #9955ff;
    border: 1vh solid black;
}

#Up:hover {
    top:0;
    background-color: #c8a4ff;
    border: 1vh solid black;
    cursor: pointer;

}

#Down:hover {
    bottom:0;
    background-color: #c8a4ff;
    border: 1vh solid black;
    cursor: pointer;

}

#Right:hover {
    right:0;
    background-color: #c8a4ff;
    border: 1vh solid black;
    cursor: pointer;

}

#Left:hover {
    left:0;
    background-color: #c8a4ff;
    border: 1vh solid black;
    cursor: pointer;

}

#controlplayer {
    background-color: #9955ff;
    border: 0.2vh solid black;

}

.controlrow {
    width: 100%;
    float: left;
}
.controlrow div {
    width: calc(100% / 3);
    float: left;
}
legend {
    background-color: var(--chefchaouen-blue);
    border: 0.1rem solid black;
}







/* Mobile Ansicht */
@media (max-width: 500px) {
    .div-header {
        width: 50% !important;
        padding: 0.2rem;
    }
    .div-header div {
        font-size: 0.8rem;
        font: bold;
        padding: 0.05 rem;
    }
    .custom-fieldset{
        width: 80% !important; 
        margin: 1% auto; 
    }

    .control-fieldset {
        width: 40%;

    }

    .div-header, .div-footer {
        width: 70%; 
    }

    #mediumButton, #smallButton, #largeButton {
        width: 30%; 
        font-size: smaller;
        padding: 0.5rem;    
    }

    main {
        padding-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column !important;
    }
    
}

@media (max-height: 500px) {
    .div-header div {
        font-size: 90%;
    }
    .div-header {
        width: 20%;
    }
    * {
        font-size: 90%;
    }

}


