.svg-chess-king-svgrepo-c {
    background: url("sprite-183eaee3.svg") 0 0 no-repeat;
}

.svg-chess-king-svgrepo-c-dims {
    width: 64px;
    height: 64px;
}

.svg-down-arrow-circle-sv {
    background: url("sprite-183eaee3.svg") 50% 0 no-repeat;
}

.svg-down-arrow-circle-sv-dims {
    width: 64px;
    height: 64px;
}

.svg-goal-2-svgrepo-com-7 {
    background: url("sprite-183eaee3.svg") 0 100% no-repeat;
}

.svg-goal-2-svgrepo-com-7-dims {
    width: 64px;
    height: 64px;
}

.svg-left-arrow-svgrepo-c {
    background: url("sprite-183eaee3.svg") 50% 100% no-repeat;
}

.svg-left-arrow-svgrepo-c-dims {
    width: 64px;
    height: 64px;
}

.svg-right-arrow-svgrepo- {
    background: url("sprite-183eaee3.svg") 100% 0 no-repeat;
}

.svg-right-arrow-svgrepo--dims {
    width: 64px;
    height: 64px;
}

.svg-up-arrow-svgrepo-com {
    background: url("sprite-183eaee3.svg") 100% 100% no-repeat;
}

.svg-up-arrow-svgrepo-com-dims {
    width: 64px;
    height: 64px;
}

